---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;

const menu = [
  { href: "/", name: "About", icon: "lucide:user" },
  { href: "/posts", name: "Blog", icon: "lucide:notebook-text" },
];

const allPosts = await Astro.glob("../pages/posts/*.md");
const tags = [...new Set(allPosts.flatMap((post) => post.frontmatter.tags))];
console.log(tags);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-white font-sans">
    <Header />
    <div class="py-10 px-2 container mx-auto flex items-start gap-4">
      <div class="px-4 w-64 shrink-0 hidden md:block">
        <div class="flex flex-col gap-3">
          <Menu menu={menu} />
        </div>
        <div
          class="flex flex-col rounded-lg bg-slate-100 border border-b-slate-200 my-3 py-2 px-3"
        >
          <p class="font-bold mb-1">Tags</p>
          <div class="flex flex-wrap gap-2">
            {
              tags.map((tag) => {
                return (
                  <a
                    href={`/tags/${tag}`}
                    class="bg-slate-300 rounded-lg px-2 py-1 hover:bg-slate-400"
                  >
                    {tag}
                  </a>
                );
              })
            }
          </div>
        </div>
      </div>
      <div class="px-4 flex-1 rounded-lg">
        <h2 class="text-2xl font-bold">{pageTitle}</h2>
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
